.header__lang-link-container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  min-width: 78px;
  align-self: center;
}

@media screen and (max-width: 1050px) {
  .header__lang-link-container {
    align-self: flex-end;
  }
}
