.main {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr;
  row-gap: 92px;
  margin-block-end: 92px;
}

@media screen and (max-width: 1025px) {
  .main {
    margin-block-end: 97px;
  }
}

@media screen and (max-width: 770px) {
  .main {
    row-gap: 88px;
    margin-block-end: 88px;
  }
}

@media screen and (max-width: 325px) {
  .main {
    row-gap: 64px;
    margin-block-end: 64px;
  }
}
