.cover__subtitle {
  color: #fff;
  max-width: 360px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 430px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-block-end: 16px;
    max-width: 288px;
  }
}
