.header__logo {
  width: 176px;
  margin-block-start: 10px;
}

@media screen and (max-width: 1025px) {
  .header__logo {
    margin: 0;
  }
}

@media screen and (max-width: 512px) {
  .header__logo {
    width: 142px;
  }
}
