.page__intro {
  margin-inline-start: 100px;
}

@media screen and (max-width: 1025px) {
  .page__intro {
    margin-inline-start: 48px;
  }
}

@media screen and (max-width: 770px) {
  .page__intro {
    margin: 0 24px;
  }
}
