.page__intro {
  margin-inline-start: calc((100vw / 256 - 4px) * 100);
}

@media screen and (min-width: 1280px) {
  .page__intro {
    margin-inline-start: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .page__intro {
    margin-inline-start: calc((100vw / 256 - 2px) * 24);
  }
}
