.footer__link {
  margin-inline-end: 18px;
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  transition: opacity 0.1s linear;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .footer__link {
    margin-inline-end: 0;
    font-size: 24px;
    line-height: 24px;
  }
}
