.places__list-item {
  margin-block-end: 80px;
}

.places__list-item:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .places__list-item {
    margin-block-end: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places__list-item {
    margin-block-end: 50px;
  }
}
