.cover {
  background-image: url(../../images/trains.jpg);
  background-size: cover;
  min-height: 740px;

  position: relative;
}

@media screen and (max-width: 1025px) {
  .cover {
    width: 100vw;
    left: -48px;
  }
}
