.cover__overlay {
  background-color: #2a2c2f;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 740px;
  opacity: 0.3;
  z-index: 1;
}

/* @media screen and (max-width: 1025px) {
  .cover__overlay {
    left: -48px;
  }
} */
