.cover__title {
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  margin-block-end: 32px;
  max-width: 560px;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-block-end: 16px;
    max-width: 288px;
  }
}
