.cover__title {
  width: 560px;
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  margin-block-end: 32px;
  z-index: 2;
}
