.page__footer {
  margin-block-end: 24px;
}

@media screen and (max-width: 1050px) {
  .page__footer {
    margin: 0 48px 19px;
  }
}

@media screen and (max-width: 800px) {
  .page__footer {
    margin: 0 24px 24px;
  }
}

@media screen and (max-width: 700px) {
  .page__footer {
    margin: 0 0 24px 16px;
  }
}
