.page__photo-grid {
  margin: 0;
}

@media screen and (max-width: 1050px) {
  .page__photo-grid {
    margin: 0 48px;
  }
}

@media screen and (max-width: 800px) {
  .page__photo-grid {
    margin: 0 24px;
  }
}

@media screen and (max-width: 700px) {
  .page__photo-grid {
    margin: 0 16px;
  }
}
